@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* تخصيص لون تحديد النصوص باللون الأخضر في جميع أنحاء الموقع */
::selection {
  background-color: #10b981; /* emerald-500 */
  color: #ffffff;
}

::-moz-selection {
  background-color: #10b981;
  color: #ffffff;
}

/* إجبار مؤشر الماوس على شكل اليد عند تمريره على أي زر أو قائمة اختيار لتوضيح قابلية النقر */
button,
select,
input[type="button"],
input[type="submit"] {
  cursor: pointer;
}